@page "/"
@inject NavigationManager NavigationManager
@inject IBlogService BlogService

<h1>Index</h1>

@if (!string.IsNullOrEmpty(error))
{
    <h2>ERROR: @error</h2>
}

@if (!creatingBlog)
{
    <p>
        <a href="" onclick="@(()=>ToggleCreateBlog())" @onclick:preventDefault>Create New Blog</a>
    </p>
}
@if (creatingBlog)
{
    <EditForm Model="@newBlog" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Din Blogg Tittel:</label>
            <InputText @bind-Value="newBlog.BlogTitle" class="form-control" />
            <ValidationMessage For="@(() => newBlog.BlogTitle)" />
        </div>
        <div class="form-group">
            <label>Beskrivelse:</label>
            <InputText @bind-Value="newBlog.Description" class="form-control" />
            <ValidationMessage For="@(() => newBlog.Description)" />
        </div>
        <button disabled="@loading" class="btn btn-primary">
            Lagre Endringer
        </button>
        <a href="" onclick="@(()=>ResetNewBlog())" class="btn btn-link" @onclick:preventDefault>Avbryt</a>
    </EditForm>
}


@if (loading == false)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <p>BlogId</p>
                </th>
                <th>
                    <p>BlogTitle</p>
                </th>
                <th>
                    <p>Description</p>
                </th>
                <th>
                    <p>Locked</p>
                </th>
                <th>
                    <p>UserName</p>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Blog b in Model)
            {
                <tr>
                    <td>
                        @b.BlogId
                    </td>
                    <td>
                        @b.BlogTitle
                    </td>
                    <td>
                        @b.Description
                    </td>
                    <td>
                        @b.Locked
                    </td>
                    <td>
                        @b.Owner.UserName
                    </td>
                    <td>
                        <a href="" onclick="@(()=>ViewBlog(b.BlogId))">View Blog</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<Blog> Model;
    bool loading = true;

    public bool creatingBlog { get; set; } = false;
    BlogDTO newBlog { get; set; } = new();
    private string error { get; set; } = "";

    protected async override Task OnInitializedAsync()
    {
        Model = await BlogService.GetBlogs();
        loading = false;
    }

    public void ViewBlog(int BlogId)
    {
        NavigationManager.NavigateTo("/ViewBlog/" + BlogId.ToString());
    }

    public void ToggleCreateBlog()
    {
        newBlog = new();

        creatingBlog = true;
        StateHasChanged();
    }

    public async void OnValidSubmit()
    {
        error = "";

        int success = await BlogService.CreateBlog(newBlog);
        if (success < 0)
        {
            error = "Create Blog failed";
        }
        creatingBlog = false;

        loading = true;
        Model = await BlogService.GetBlogs();
        loading = false;
        StateHasChanged();
    }

    public void ResetNewBlog()
    {
        newBlog = new();
        creatingBlog = false;
        StateHasChanged();
    }
}
